.bg-1{
  background-image: url('bg4.jpg');
  min-height: 600px;
  background-size: cover;'
  position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.nav-link{
  color:white;
}
#one{
  position: absolute;
  top:10%;
  left: 24%;
  max-width: 50%;
  color: black;
  font-family: sans-serif;
  right: 24%;
}
#one h1{
  font-size: 55px;
  font-weight: 600;
}
.btn-hire{
  background-color: rgb(198, 232, 239);
}
.png1{
  height: 20px;
  margin-bottom: 5px;
}
.link1:hover{
  color: inherit;
}

li{
  border: .5px solid;
  border-color:#303847  ;
  text-align: center;
  padding: 5px;
  font-size:22px;
}
/* .bottom-btn{
  background-color: #f04;
  height: 50px;
  width: 150px;
  font-family: sans-serif;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  border:0px;
} */

.Img{
  width: 60%;
  height: 80%;
  border-radius: 10px;
}
.About{
  margin-top: 50px;
  font-family: sans-serif;
}
.contactimg{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.mess{
  margin-top: 10px;
}
#color{
  background: rgba(0,0,0,.06);
}
.sendbtn{
  margin-top: 2%;
  float:right;
  border-radius: 20%;
  background-color: inherit;
  cursor: pointer;
  color: #f04;
  padding:10px;
  border:1px solid #f04;
}
#links li{
  border: 0px;
  display: inline;
  font-size: 11px;
  color: #818181;
  font-family:sans-serif;

}
.center{
  text-align: center;
  width: 100%;
 padding-top: 50px;
  height: 137px;
  background: #f3f3f3;
  margin-top: .5%;
}
#map{
  width: 100%;
  height: 400px;
}
.smcir{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: relative;
}
.logo{
  height: 50px;
}
.smpic{
position: relative;
left: 25%;
}
.details{
  position: relative;
  margin-top: 2%;
  left: 26%;
}
.col-xs-4{
  padding: 2px 2px;
}
.git{
  color:#818181;
}
html{
  scroll-behavior: smooth;
}
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-img{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}


/* loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
