.bg-1{
  background-image: url('bg4.jpg');
  min-height: 600px;
  background-size: cover;
  background-position: relative;
}
.nav-link{
  color:white;
}
#one{
  position: absolute;
  top: 40%;
  left: 23%;
  color: black;
  font-family: sans-serif;
}
#link1{
  color: black;
  text-decoration: underline;
}
#one h1{
  font-size: 55px;
  font-weight: 600;
}
.btn-hire{
  background-color: rgb(198, 232, 239);
}
.png1{
  height: 20px;
  margin-bottom: 5px;
}
.link1:hover{
  color: inherit;
}
#navbarNavDropdown{
  margin-left:35%;
  height: 50px;
}
li{
  border: .5px solid;
  border-color:#303847  ;
  text-align: center;
  padding: 5px;
  font-size:22px;
  margin: 5px;
}
.bottom-btn{
  background-color: #f04;
  height: 50px;
  width: 150px;
  font-family: sans-serif;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
  border:0px;
}

.Img img{
  width: 400px;
  height: 500px;
  border-radius: 10px;
}
.About{
  margin-top: 50px;
  font-family: sans-serif;
}
.contactimg{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
.mess{
  margin-top: 10px;
}
#color{
  background: rgba(0,0,0,.06);
}
.sendbtn{
  margin-top: 2%;
  float:right;
  border-radius: 20%;
  background-color: inherit;
  cursor: pointer;
  color: #f04;
  padding:10px;
  border:1px solid #f04;
}
#links li{
  border: 0px;
  display: inline;
  font-size: 11px;
  color: #818181;
  font-family:sans-serif;

}
.center{
  text-align: center;
  width: 100%;
 padding-top: 50px;
  height: 137px;
  background: #f3f3f3;
  margin-top: .5%;
}
#map{
  width: 100%;
  height: 400px;
}
